<div id="agenda" class="row" data-aos="fade-up">
    <div class="col-md-5 col-lg-4 col-xl-3 mb-lg-0 mb-5">
        <div class="card text" style="width: 14rem; background-color: rgba(248, 249, 250, 1);">
            <a role="button" id="dropdownUpload" data-bs-toggle="modal" data-bs-target="#modalUpload" aria-expanded="false">
              <img src=<%= locals.userPic %> class="card-img-top" alt="...">
            </a>
            
            <div class="card-body">
              <h5 class="card-title"><%= locals.userName %></h5>
              <h6 class="card-subtitle mb-3 text-muted"><%= locals.userEmail %></h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="/user/logout" class="card-link text-danger" style="text-decoration: none;"><i class="bi bi-box-arrow-in-left"></i> Logout</a>
                </li>
              </ul>
          </div>
    </div>
    <div class="col-md-6 col-lg-7 col-xl-9">
        <div class="row mb-3">
            <h3>Agenda</h3>
        </div>
        
        <% if (agenda.length === 0) { %>
            <div class="row mb-3">
                <div class="col">
                    <div class="alert alert-primary alert-dismissible fade show">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <i class="fa-solid fa-circle-info"></i> Belum ada agenda terdaftar.
                    </div>
                </div>
            </div>
        <% } %>
        
        <div class="row">
            <div class="col">
                <table class="table table-secondary mb-4" style="overflow: auto; max-height: 350px;">
                    <thead>
                      <tr>
                        <th scope="col" style="width: 3rem;">No</th>
                        <th scope="col">Agenda</th>
                        <th scope="col">Author</th>
                        <th scope="col">Hari Pelaksanaan</th>
                        <th scope="col">Status</th>
                        <th scope="col" style="width: 5rem;">Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% agenda.forEach((agenda, index) => { %>
                            <tr>
                              <td scope="row"><%= index + 1 %></td>
                              <td><%= agenda.name %></td>
                              <td><%= agenda.author %></td>
                              <td><%= agenda.date.toLocaleString('id', {weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'}) %></td>
                              <td><%= agenda.status %></td>
                              <td>
                                <a href="/<%= agenda.id %>">Detail</a>
                              </td>
                            </tr>
                        <% }) %>
                    </tbody>
                  </table>

                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgenda"><i class="bi bi-calendar-plus"></i> Tambah Agenda</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAgenda" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Agenda</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/agenda">
                <div class="mb-3">
                  <label for="name" class="form-label">Nama Agenda</label>
                  <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label for="date" class="form-label">Date</label>
                  <input type="datetime-local" class="form-control" id="date" name="date" required>
                </div>
                <div class="mb-3">
                  <label for="location" class="form-label">Tempat</label>
                  <input type="text" class="form-control" id="location" name="location" required>
                </div>
                <div class="mb-3">
                  <label for="message" class="form-label">Keterangan</label>
                  <textarea class="form-control" id="message" name="message" rows="5" style="resize: none;"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                  <button type="submit" class="btn btn-primary"><i class="bi bi-calendar-plus"></i> Tambah Agenda</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Upload -->
  <div class="modal fade" id="modalUpload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="p-3" enctype="multipart/form-data" method="POST" action="/user?_method=PUT">
            <input type="file" class="form-control mb-3" id="file" name="file">
            <p class="text-danger">*png, jpg, jpeg, webp</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary"><i class="bi bi-upload"></i> Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>